data/dataSC.rds
coding/r/.Rhistory
.Rproj.user/49E21145/pcs/debug-breakpoints.pper
.Rproj.user/49E21145/pcs/files-pane.pper
.Rproj.user/49E21145/pcs/source-pane.pper
.Rproj.user/49E21145/pcs/windowlayoutstate.pper
.Rproj.user/49E21145/pcs/workbench-pane.pper
.Rproj.user/49E21145/sources/prop/19ED16F8
.Rproj.user/49E21145/sources/prop/DA8B38AA
.Rproj.user/49E21145/sources/prop/F1FE0EC3
.Rproj.user/49E21145/sources/prop/INDEX
.Rproj.user/49E21145/sources/session-4d3c7799/3ECEBB38-contents
.Rproj.user/49E21145/sources/session-4d3c7799/6A20498B
.Rproj.user/49E21145/sources/session-4d3c7799/6A20498B-contents
.Rproj.user/49E21145/sources/session-4d3c7799/25EBA67D-contents
.Rproj.user/49E21145/sources/session-4d3c7799/52D9009C-contents
.Rproj.user/49E21145/sources/session-4d3c7799/72CC304F-contents
.Rproj.user/49E21145/sources/session-4d3c7799/5650C00F-contents
.Rproj.user/49E21145/sources/session-4d3c7799/B28B04E8
.Rproj.user/49E21145/sources/session-4d3c7799/B28B04E8-contents
.Rproj.user/49E21145/sources/session-4d3c7799/BBC7C2AA-contents
.Rproj.user/49E21145/sources/session-4d3c7799/D31A2D63-contents
.Rproj.user/49E21145/sources/session-4d3c7799/D577BFCA-contents
.Rproj.user/49E21145/sources/session-4d3c7799/E0AC0245-contents
.Rproj.user/49E21145/sources/session-4d3c7799/E6C6B484-contents
.Rproj.user/49E21145/sources/session-4d3c7799/FC32FB51
.Rproj.user/49E21145/sources/session-4d3c7799/FC32FB51-contents
.Rproj.user/49E21145/sources/session-4d3c7799/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
tmp/sc.raw.glioma.seuratobject.rds
data/download/gencode.v45.chr_patch_hapl_scaff.annotation.gtf.gz
data/download/MANIFEST.txt
data/downstream/thera.first.state.csv
data/downstream/enrichment/cluster1.de.genes.csv
data/downstream/enrichment/1CD4/cluster1.de.genes.csv
data/downstream/enrichment/1CD4/GO_BP.txt
data/downstream/enrichment/1CD4/GO_CC.txt
data/downstream/enrichment/1CD4/GO_MF.txt
data/downstream/enrichment/1CD4/kegg_pathway.txt
data/downstream/enrichment/1CD4/only_pos/GO_BP.txt
data/downstream/enrichment/1CD4/only_pos/GO_CC.txt
data/downstream/enrichment/1CD4/only_pos/GO_MF.txt
data/downstream/enrichment/1CD4/only_pos/kegg_pathway.txt
data/downstream/enrichment/3naive/only_pos/cluster1.de.genes_pos.csv
data/downstream/enrichment/3naive/only_pos/GO_BP.txt
data/downstream/enrichment/3naive/only_pos/GO_CC.txt
data/downstream/enrichment/3naive/only_pos/GO_MF.txt
data/downstream/enrichment/3naive/only_pos/KEGG.txt
data/downstream/markers/golden_key_markers_total.csv
data/downstream/markers/tcells_clutser_markers.rds
data/downstream/markers/tcells_resolution=0.8.rds
data/downstream/markers/tcells.markers.rds
data/downstream/markers/top10.rds
data/downstream/results/.Rhistory
data/downstream/results/0_lrTest.csv
data/downstream/results/0_MIST.RData
data/downstream/results/1_lrTest.csv
data/downstream/results/1_MIST.RData
data/downstream/results/2_lrTest.csv
data/downstream/results/2_MIST.RData
data/downstream/results/3_lrTest.csv
data/downstream/results/3_MIST.RData
data/downstream/results/4_lrTest.csv
data/downstream/results/4_MIST.RData
data/downstream/results/5_lrTest.csv
data/downstream/results/5_MIST.RData
data/downstream/results/6_lrTest.csv
data/downstream/results/6_MIST.RData
data/downstream/results/7_lrTest.csv
data/downstream/results/7_MIST.RData
data/downstream/results/8_lrTest.csv
data/downstream/results/8_MIST.RData
data/downstream/results/9_lrTest.csv
data/downstream/results/9_MIST.RData
data/downstream/results/10_lrTest.csv
data/downstream/results/10_MIST.RData
data/downstream/results/11_lrTest.csv
data/downstream/results/11_MIST.RData
data/downstream/results/12_lrTest.csv
data/downstream/results/12_MIST.RData
data/downstream/results/13_lrTest.csv
data/downstream/results/13_MIST.RData
data/downstream/results/14_lrTest.csv
data/downstream/results/14_MIST.RData
data/downstream/results/15_lrTest.csv
data/downstream/results/15_MIST.RData
data/downstream/results/Sig.csv
data/downstream/results/Sig.RData
data/downstream/results/signature.rds
data/downstream/results/solDWLS.rds
data/downstream/scissor_data/bulk_dataset.rds
data/downstream/scissor_data/glioma.sc_dataset.rds
data/downstream/scissor_data/gtf.rds
data/downstream/scissor_data/infos1.rds
data/downstream/scissor_data/phenotype.rds
data/downstream/scissor_data/sc_dataset.rds
data/downstream/scissor_data/sc_scissor.rds
data/downstream/scissor_data/scissor.cells.tcga.rds
data/downstream/scissor_data/CGGA.325/data.bulk.rds
data/downstream/scissor_data/CGGA.325/data.clinical.rds
data/downstream/scissor_data/CGGA.325/data.sc.rds
data/downstream/scissor_data/CGGA.325/data.sc.scissor.rds
data/downstream/scissor_data/CGGA.325/data.sc.scissor.tcells
data/downstream/scissor_data/CGGA.325/scissor.cells.325.rds
data/downstream/scissor_data/CGGA.325/scissor.info.325.rds
data/downstream/scissor_data/CGGA.693/data.bulk.rds
data/downstream/scissor_data/CGGA.693/data.clinical.rds
data/downstream/scissor_data/CGGA.693/data.sc.rds
data/downstream/scissor_data/CGGA.693/data.sc.scissor.rds
data/downstream/scissor_data/CGGA.693/data.sc.scissor.tcells
data/downstream/scissor_data/CGGA.693/scissor.cells.693.rds
data/downstream/scissor_data/CGGA.693/scissor.info.693.rds
data/raw/TCGA/clinical.rds
data/raw/TCGA/TCGA_GBM_TPM_geneName.tsv
data/raw/TCGA/TCGA_GBM.tsv
data/raw/sc.data.CGGA/mRNAseq_325/bulkdata/CGGA.mRNAseq_325.RSEM-genes.20200506.txt
data/raw/sc.data.CGGA/mRNAseq_325/bulkdata/CGGA.mRNAseq_325.RSEM-genes.20200506.txt.zip
data/raw/sc.data.CGGA/mRNAseq_325/bulkdata/__MACOSX/._CGGA.mRNAseq_325.RSEM-genes.20200506.txt
data/raw/sc.data.CGGA/mRNAseq_325/clinical/CGGA.mRNAseq_325_clinical.20200506.txt
data/raw/sc.data.CGGA/mRNAseq_325/clinical/CGGA.mRNAseq_325_clinical.20200506.txt.zip
data/raw/sc.data.CGGA/mRNAseq_325/clinical/__MACOSX/._CGGA.mRNAseq_325_clinical.20200506.txt
data/raw/sc.data.CGGA/mRNAseq_693/bulkdata/CGGA.mRNAseq_693.RSEM-genes.20200506.txt
data/raw/sc.data.CGGA/mRNAseq_693/bulkdata/CGGA.mRNAseq_693.RSEM-genes.20200506.txt.zip
data/raw/sc.data.CGGA/mRNAseq_693/bulkdata/__MACOSX/._CGGA.mRNAseq_693.RSEM-genes.20200506.txt
data/raw/sc.data.CGGA/mRNAseq_693/clinical/CGGA.mRNAseq_693_clinical.20200506.txt
data/raw/sc.data.CGGA/mRNAseq_693/clinical/CGGA.mRNAseq_693_clinical.20200506.txt.zip
data/raw/sc.data.CGGA/mRNAseq_693/clinical/__MACOSX/._CGGA.mRNAseq_693_clinical.20200506.txt
data/raw/sc.data.SinglePortal/barcodes.tsv.gz
data/raw/sc.data.SinglePortal/Cluster_GBM.txt.gz
data/raw/sc.data.SinglePortal/features.tsv.gz
data/raw/sc.data.SinglePortal/matrix.mtx.gz
data/raw/sc.data.SinglePortal/Meta_GBM.txt.gz
data/seurat/glioma_seurat_object.rds
data/seurat/integrate_rpca.rds
data/seurat/tcells_rm_batch-1.rds
data/seurat/tcells_rm_batch.rds
data/seurat/tcells_seurat_objects.rds
data/seurat/tcells_sub_counts.rds
.Rhistory
.Rproj.user/49E21145/ctx/ctx-26547/environment
*.Rhistory
*.Rproj.user
*.RData
*.rds
*.gz
*.zip
